<% set_meta_tags title: 'お気に入り' %>
<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-heart"></i> お気に入り</h2>
    </div>
  </div>
</div>
<div class="row">
  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <% if @bookmarks.blank? %>
        <h4><%= "お気に入り登録はありません" %></h4>
      <% elsif %>
        <ul>
          <%= render @bookmarks %>
        </ul>
      <% end %>
    </div>

    <div class="clearfix"></div>
    <div class="pagination-container margin-top-30 margin-bottom-0">
      <%= paginate @bookmarks %>
    </div>
  </div>
