<div class="panel-dropdown">
  <a href="#">エリア</a>
  <div class="panel-dropdown-content checkboxes categories">

    <!-- Checkboxes -->
    <div class="row">
      <div class="col-md-6">
        <%= f.check_box :area_groups, {id: "check-area-1", class: "all", multiple: true, include_hidden: false, checked: selected_area_groups.include?('all') }, "all" %>
        <%= f.label :area_groups, "全て", for: "check-area-1" %>

        <%= render partial: 'listings/searched_area', collection: Constants::AREA_GROUPS, locals: { f: f, selected_area_groups: selected_area_groups } %>
      </div>
    </div>

    <!-- Buttons -->
    <div class="panel-buttons">
      <button class="panel-apply" type="button">決定</button>
    </div>

  </div>
</div>
