<div id="listing-reviews" class="listing-section">
  <h3 class="listing-desc-headline margin-top-75 margin-bottom-20">NEWS</h3>
  <div class="clearfix"></div>
  <section class="comments listing-reviews">
    <ul>
      <%= render partial: "listings/show_post_list", collection: three_posts, as: 'post' %>
    </ul>
  </section>
  <!-- Pagination -->
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <!-- Pagination -->
        <div class="pagination-container margin-top-30">
          <nav class="pagination">
            <%= link_to [list, :posts] do %>
              NEWS一覧 <i class="sl sl-icon-arrow-right"></i>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Pagination / End -->
</div>
