<div class="boxed-widget opening-hours margin-top-35">
  <h3><i class="sl sl-icon-clock"></i> 営業時間</h3>
  <ul>
    <%= render partial: "listings/opening_hour", collection: listing.opening_hours.early %>
  </ul>
</div>
