<div id="booking-widget-anchor" class="boxed-widget booking-widget margin-top-35">
  <h3><i class="fa fa-calendar-check-o "></i> 予約</h3>
  <div class="row with-forms  margin-top-0">
    <div class="col-lg-12">
      <p>以下のボタンをクリックすると外部予約サイトへ移動します。</p>
    </div>
  </div>

  <!-- Book Now -->
  <%= link_to "予約サイトはこちら", listing.reservation_link.link, class: "button book-now fullwidth margin-top-5", target: :_blank, rel: "noopener noreferrer" %>
</div>
