<div id="listing-location" class="listing-section margin-bottom-60">
  <h3 class="listing-desc-headline margin-bottom-30">地図</h3>
  <div id="map-location-display" class="margin-top-25 margin-bottom-25" data-lat="<%= listing.lat %>" data-lng="<%= listing.lng %>"></div>
</div>
