<p>listing_appにご登録いただきありがとうございます。<br>
アカウント有効化のために以下のリンクをクリックしてください。</p>
<%= link_to nil, @url %>
<br>
<p>上記リンクの有効期限は24時間です。</p>
<p>===============================================</p>
<p>listing_app</p>
