<li class="padding-top-0 padding-bottom-0 padding-right-0 padding-left-0 bg-transparent border-bottom-none">
  <%= opening_hour.day_i18n %>： <%= opening_hour.closed? ? "定休日" : "#{opening_hour.decorate.start_time} 〜 #{opening_hour.decorate.end_time}" %>
</li>
