<div id="titlebar"  class="margin-bottom-20">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-list"></i> 組織への招待状況</h2>
    </div>
  </div>
</div>

<%= link_to organization_path(@organization), class: "button border margin-bottom-20" do %>
  <i class="sl sl-icon-arrow-left-circle"></i> 戻る
<% end %>

<div class="row">

  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">

      <div class="messages-container margin-top-0">
        <% if @organization_invitations.blank? %>
          <div>
            <h4>招待されたユーザはいません</h4>
          </div>
        <% elsif %>
          <div class="messages-inbox">
            <ul>
              <%= render @organization_invitations %>
            </ul>
          </div>
        <% end %>
      </div>

    </div>

    <div class="clearfix"></div>
    <div class="pagination-container margin-top-30 margin-bottom-0">
      <%= paginate @organization_invitations %>
    </div>
  </div>
