<div id="titlebar" class="margin-bottom-20">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="sl sl-icon-list"></i> 投稿一覧</h2>
    </div>
  </div>
</div>

<div class="margin-bottom-20 display-flex-space-between">
  <%= link_to send(postable_show_path, postable.organization, postable), class: "button border" do %>
    <i class="sl sl-icon-arrow-left-circle"></i> 戻る
  <% end %>

  <% if !new_path.nil? %>
      <%= link_to send(new_path), class: "button border" do %>
        <i class="sl sl-icon-plus"></i> 新規作成
      <% end %>
  <% end %>
</div>

<div class="row">
  <!-- Listings -->
  <div class="col-lg-12 col-md-12">

    <div class="messages-container margin-top-0">
      <% if posts.blank? %>
        <div class="messages-headline">
          <h4>投稿はありません</h4>
        </div>
      <% elsif %>
        <div class="messages-inbox">
          <ul>
            <%= render partial: 'shared/organizations/listings/posts/post', collection: posts, locals: { show_path: show_path } %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="clearfix"></div>
    <div class="pagination-container margin-top-30 margin-bottom-0">
      <%= paginate posts %>
    </div>

  </div>
