<div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2><%= page_name %></h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><%= link_to "トップページ", root_path %></li>
              <li><%= page_name %></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
