<!-- Left Side Content -->
<div class="left-side">

  <!-- Logo -->
  <div id="logo">
    <%= link_to image_tag('logo.png', alt: ""), root_path %>
  </div>

  <%= render 'shared/header_navigation' %>
