<p><%= @user_to.username %> さん</p>

<p><%= @organization.name %> にユーザーが参加しました。</p>
<%= link_to nil, organization_url(@organization) %>
<p>===============================================</p>
<p>listing_app</p>
