<div class="message-by-headline">
  <h5><%= "#{notice.noticeable.postable.name} さんが投稿をしました" %> 
    <% if notice.unread? %>
      <i>未読</i>
    <% end %>
  </h5>
  <span><%= notice.decorate.format_created_at %></span>
</div>
<p><%= "【#{notice.noticeable.title}】 #{notice.noticeable.decorate.truncate_body(80)}" %></p>
