<div class="message-by-headline">
  <h5><%= notice.noticeable.published_before? ? "新しいお知らせがあります" : "お知らせの内容が更新されました" %> 
    <% if notice.unread? %>
      <i>未読</i>
    <% end %>
  </h5>
  <span><%= l notice.updated_at, format: :short %></span>
</div>
<p><%= "【#{notice.noticeable.title}】 #{notice.noticeable.decorate.truncate_body(80)}" %></p>
